cmake-build-debug/*.*
_build/*.*
DFU/bootloader/_build/*.*
.idea/*.*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_*.*
_*/